<!--
  ~ Copyright (c) 2019 Arcesium LLC. All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of Arcesium LLC. ("Confidential Information"). You  shall not disclose such Confidential Information and shall use it only in accordance with the terms of the license agreement you entered into with Arcesium LLC.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.springframework.test.context.support.DefaultTestContextBootstrapper" level="WARN"/>

    <logger name="deshaw.codex.zookeeper" level="WARN"/>
    <logger name="deshaw.codex.internal" level="WARN"/>
    <logger name="deshaw.moss.service.infra.filter" level="WARN"/>
    <logger name="deshaw.moss.framework.client.RESTfulClient" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
